@model IEnumerable<MvcProject.Models.Contact>

@{
    ViewData["Title"] = "Contact";
}

<h2>Contacts</h2>
<p>
    <a asp-action="">New contact</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
    </tr>
    </thead>
    
    <tbody>
    @foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Id)
            </td>
            <td>
                @Html.DisplayFor(model => item.Name)
            </td>
            <td>
                @Html.DisplayFor(model => item.Number)
            </td>
            <td>
                @Html.DisplayFor(model => item.IsActive)
            </td>
            <td>
                <a asp-action="" asp-route-id="item.Id">Edit</a> |
                <a asp-action="" asp-route-id="item.Id">Details</a> |
                <a asp-action="" asp-route-id="item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>